{% extends 'base.html.twig' %}

{% block body %}

    <br><br>
    <div class="container mb-100">
        <br>
        <div>
            {#            {% if news.createAt %}#}
            {#                <p class="date">#}
            {#                    {{ news.createAt|date('d M Y') }}#}
            {#                </p>#}
            {#            {% endif %}#}

            <h2>News wurde nicht gefunden</h2>
        </div>
        <br>


    </div>


{% endblock %}