{% extends 'base.html.twig' %}

{% block title %}New Gericht{% endblock %}

{% block body %}
    <h1>Create new Gericht</h1>

    {{ include('gericht/_form.html.twig') }}

    <a href="{{ path('gericht.app_gericht_index') }}">back to list</a>
{% endblock %}
